<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	 <p th:text="'Welcome to Hajszan! Here are all the employees we could find under your search for: ' + ${name} + '!'" />
	 <br> </br>
     <p th:text="' + ${employees} + '" />
</body>
</html>